In [32]:
import numpy as np
import pandas as pd

In [33]:
df_RConP = pd.read_csv('../Data/Realisierter_Stromverbrauch_201901010000_202312312359_Viertelstunde.csv', sep= ';', decimal=',', thousands='.')
df_MP = pd.read_csv('../Data/Gro_handelspreise_201901010000_202312312359_Stunde.csv', sep= ';', decimal=',', thousands='.')

C:\Users\sager\AppData\Local\Temp\ipykernel_244772\1936459888.py:2: DtypeWarning: Columns (4,12,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_MP = pd.read_csv('../Data/Gro_handelspreise_201901010000_202312312359_Stunde.csv', sep= ';', decimal=',', thousands='.')

In [34]:
print('Shapes:')
print('RConP: ', df_RConP.shape)
print('MP: ', df_MP.shape)

Shapes:
RConP:  (175296, 6)
MP:  (43824, 20)

In [35]:
df_RConP.describe()

,Datum,Gesamt (Netzlast) [MWh] Originalauflösungen,Residuallast [MWh] Originalauflösungen,Pumpspeicher [MWh] Originalauflösungen
count,1.752960e+05,175296.000000,175296.000000,175296.000000
mean,1.579511e+07,13850.869906,8829.839501,373.649350
std,8.799844e+06,2445.912862,3242.445019,411.828594
min,1.012019e+06,6984.750000,-1545.000000,0.000000
25%,8.082020e+06,11867.000000,6648.250000,44.000000
50%,1.603202e+07,13806.750000,8935.500000,213.250000
75%,2.310202e+07,15793.500000,11073.562500,597.750000
max,3.112202e+07,20341.500000,18715.250000,2188.250000

In [36]:
print(df_RConP.nunique(), '\n', '\n',df_RConP.isna().any(), '\n','\n',df_RConP.isnull().any())

Datum                                           1826
Anfang                                            96
Ende                                              96
Gesamt (Netzlast) [MWh] Originalauflösungen    39614
Residuallast [MWh] Originalauflösungen         52849
Pumpspeicher [MWh] Originalauflösungen          7398
dtype: int64

 Datum                                          False
Anfang                                         False
Ende                                           False
Gesamt (Netzlast) [MWh] Originalauflösungen    False
Residuallast [MWh] Originalauflösungen         False
Pumpspeicher [MWh] Originalauflösungen         False
dtype: bool

 Datum                                          False
Anfang                                         False
Ende                                           False
Gesamt (Netzlast) [MWh] Originalauflösungen    False
Residuallast [MWh] Originalauflösungen         False
Pumpspeicher [MWh] Originalauflösungen         False
dtype: bool

In [37]:
df_MP.describe()

,Datum,Deutschland/Luxemburg [€/MWh] Originalauflösungen,Belgien [€/MWh] Originalauflösungen,Dänemark 1 [€/MWh] Originalauflösungen,Dänemark 2 [€/MWh] Originalauflösungen,Frankreich [€/MWh] Originalauflösungen,Niederlande [€/MWh] Originalauflösungen,Norwegen 2 [€/MWh] Originalauflösungen,Österreich [€/MWh] Originalauflösungen,Schweden 4 [€/MWh] Originalauflösungen,Schweiz [€/MWh] Originalauflösungen,Tschechien [€/MWh] Originalauflösungen,Italien (Nord) [€/MWh] Originalauflösungen,Slowenien [€/MWh] Originalauflösungen
count,4.382400e+04,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000
mean,1.579511e+07,99.084169,103.391229,91.459355,89.480003,110.668665,102.789514,82.835390,108.677047,72.607009,115.750688,104.503679,129.915599,115.982906
std,8.799920e+06,105.556369,106.115728,101.712362,101.019546,117.980842,103.741378,93.151375,110.771172,85.541151,114.319491,105.845037,121.271871,112.828689
min,1.012019e+06,-500.000000,-500.000000,-440.100000,-60.040000,-134.940000,-500.000000,-61.840000,-500.000000,-60.040000,-142.880000,-68.540000,0.000000,-500.000000
25%,8.082020e+06,35.230000,36.140000,32.467500,32.090000,36.860000,36.950000,29.930000,37.820000,25.700000,39.280000,38.000000,47.237500,42.710000
50%,1.603202e+07,59.400000,62.270000,54.175000,51.440000,64.805000,62.000000,51.500000,65.780000,43.940000,69.635000,65.000000,84.350000,72.890000
75%,2.310202e+07,122.297500,133.600000,111.407500,107.322500,143.435000,132.252500,105.812500,140.335000,87.540000,156.382500,130.030000,175.270000,150.200000
max,3.112202e+07,871.000000,871.000000,871.000000,871.000000,2987.780000,871.000000,844.000000,919.640000,799.970000,871.610000,871.000000,871.000000,879.290000

In [38]:
print(df_MP.nunique(), '\n', '\n',df_MP.isna().any(), '\n','\n',df_MP.isnull().any())

Datum                                                 1826
Anfang                                                  24
Ende                                                    24
Deutschland/Luxemburg [€/MWh] Originalauflösungen    19116
∅ Anrainer DE/LU [€/MWh] Originalauflösungen         22780
Belgien [€/MWh] Originalauflösungen                  19319
Dänemark 1 [€/MWh] Originalauflösungen               18500
Dänemark 2 [€/MWh] Originalauflösungen               18060
Frankreich [€/MWh] Originalauflösungen               19611
Niederlande [€/MWh] Originalauflösungen              17875
Norwegen 2 [€/MWh] Originalauflösungen               17699
Österreich [€/MWh] Originalauflösungen               18894
Polen [€/MWh] Originalauflösungen                    19675
Schweden 4 [€/MWh] Originalauflösungen               16097
Schweiz [€/MWh] Originalauflösungen                  20748
Tschechien [€/MWh] Originalauflösungen               18819
DE/AT/LU [€/MWh] Originalauflösungen                     1
Italien (Nord) [€/MWh] Originalauflösungen           18022
Slowenien [€/MWh] Originalauflösungen                19195
Ungarn [€/MWh] Originalauflösungen                   23188
dtype: int64

 Datum                                                False
Anfang                                               False
Ende                                                 False
Deutschland/Luxemburg [€/MWh] Originalauflösungen    False
∅ Anrainer DE/LU [€/MWh] Originalauflösungen         False
Belgien [€/MWh] Originalauflösungen                  False
Dänemark 1 [€/MWh] Originalauflösungen               False
Dänemark 2 [€/MWh] Originalauflösungen               False
Frankreich [€/MWh] Originalauflösungen               False
Niederlande [€/MWh] Originalauflösungen              False
Norwegen 2 [€/MWh] Originalauflösungen               False
Österreich [€/MWh] Originalauflösungen               False
Polen [€/MWh] Originalauflösungen                    False
Schweden 4 [€/MWh] Originalauflösungen               False
Schweiz [€/MWh] Originalauflösungen                  False
Tschechien [€/MWh] Originalauflösungen               False
DE/AT/LU [€/MWh] Originalauflösungen                 False
Italien (Nord) [€/MWh] Originalauflösungen           False
Slowenien [€/MWh] Originalauflösungen                False
Ungarn [€/MWh] Originalauflösungen                   False
dtype: bool

 Datum                                                False
Anfang                                               False
Ende                                                 False
Deutschland/Luxemburg [€/MWh] Originalauflösungen    False
∅ Anrainer DE/LU [€/MWh] Originalauflösungen         False
Belgien [€/MWh] Originalauflösungen                  False
Dänemark 1 [€/MWh] Originalauflösungen               False
Dänemark 2 [€/MWh] Originalauflösungen               False
Frankreich [€/MWh] Originalauflösungen               False
Niederlande [€/MWh] Originalauflösungen              False
Norwegen 2 [€/MWh] Originalauflösungen               False
Österreich [€/MWh] Originalauflösungen               False
Polen [€/MWh] Originalauflösungen                    False
Schweden 4 [€/MWh] Originalauflösungen               False
Schweiz [€/MWh] Originalauflösungen                  False
Tschechien [€/MWh] Originalauflösungen               False
DE/AT/LU [€/MWh] Originalauflösungen                 False
Italien (Nord) [€/MWh] Originalauflösungen           False
Slowenien [€/MWh] Originalauflösungen                False
Ungarn [€/MWh] Originalauflösungen                   False
dtype: bool

In [39]:
print('dtypes')
print('df_RConP')
print(df_RConP.dtypes)
print('df_MP')
print(df_MP.dtypes)

dtypes
df_RConP
Datum                                            int64
Anfang                                          object
Ende                                            object
Gesamt (Netzlast) [MWh] Originalauflösungen    float64
Residuallast [MWh] Originalauflösungen         float64
Pumpspeicher [MWh] Originalauflösungen         float64
dtype: object
df_MP
Datum                                                  int64
Anfang                                                object
Ende                                                  object
Deutschland/Luxemburg [€/MWh] Originalauflösungen    float64
∅ Anrainer DE/LU [€/MWh] Originalauflösungen          object
Belgien [€/MWh] Originalauflösungen                  float64
Dänemark 1 [€/MWh] Originalauflösungen               float64
Dänemark 2 [€/MWh] Originalauflösungen               float64
Frankreich [€/MWh] Originalauflösungen               float64
Niederlande [€/MWh] Originalauflösungen              float64
Norwegen 2 [€/MWh] Originalauflösungen               float64
Österreich [€/MWh] Originalauflösungen               float64
Polen [€/MWh] Originalauflösungen                     object
Schweden 4 [€/MWh] Originalauflösungen               float64
Schweiz [€/MWh] Originalauflösungen                  float64
Tschechien [€/MWh] Originalauflösungen               float64
DE/AT/LU [€/MWh] Originalauflösungen                  object
Italien (Nord) [€/MWh] Originalauflösungen           float64
Slowenien [€/MWh] Originalauflösungen                float64
Ungarn [€/MWh] Originalauflösungen                    object
dtype: object

In [40]:
headers_RConP = list(df_RConP)
headers_MP = list(df_MP)

In [41]:
map_RConP = ['Date', 'Begin', 'End', 'Total', 'Residual Load', 'Pumped Storage']
map_MP = ['Date', 'Begin', 'End', 'DE', 'Avg Neighbours DE/LU [€/MWh]', 'Belgium [€/MWh]', 'Denmark 1 [€/MWh]', 'Denmark 2 [€/MWh]', 'France [€/MWh]', 'Netherlands [€/MWh]', 'Norway 2 [€/MWh]', 'Austria [€/MWh]', 'Poland [€/MWh]', 'Sweden 4 [€/MWh]', 'Swiss [€/MWh]', 'Czech Rep [€/MWh]', 'DE/AT/LU [€/MWh]', 'Italy (North) [€/MWh]', 'Slowenia [€/MWh]', 'Hungary [€/MWh]']

In [42]:
mapper = dict(zip(headers_RConP, map_RConP))
df_RConP.rename(columns=mapper, inplace=True)
mapper = dict(zip(headers_MP, map_MP))
df_MP.rename(columns=mapper, inplace=True)

In [43]:
df_RConP_2 = df_RConP
df_RConP_2['Date'] = df_RConP_2['Date'].astype(str).apply('{:0>8}'.format)
df_RConP_2['Timestamp'] = pd.to_datetime(df_RConP_2.apply(lambda x: x['Date'] + x['Begin'],axis=1), format= '%d%m%Y%H:%M')
df_RConP_2.insert(0, 'Timestamp', df_RConP_2.pop('Timestamp'))
df_RConP_2['Timestamp'] = df_RConP_2['Timestamp'] + pd.Timedelta(minutes=15)
df_RConP_2.drop(columns=['Date', 'Begin', 'End'], inplace=True)
df_RConP_2.tail()

                 Timestamp     Total  Residual Load  Pumped Storage
175291 2023-12-31 23:00:00  10782.00        1708.50          339.75
175292 2023-12-31 23:15:00  10753.75        1703.25          393.00
175293 2023-12-31 23:30:00  10606.75        1612.00          464.75
175294 2023-12-31 23:45:00  10495.75        1472.25          470.00
175295 2024-01-01 00:00:00  10289.25        1339.75          528.00

In [44]:
df_MP_2 = df_MP
df_MP_2['Date'] = df_MP_2['Date'].astype(str).apply('{:0>8}'.format)
df_MP_2['Timestamp'] = pd.to_datetime(df_MP_2.apply(lambda x: x['Date'] + x['Begin'],axis=1), format= '%d%m%Y%H:%M')
df_MP_2.insert(0, 'Timestamp', df_MP_2.pop('Timestamp'))
df_MP_2['Timestamp'] = df_MP_2['Timestamp'] + pd.Timedelta(hours=1)
df_MP_2.drop(columns=['Date', 'Begin', 'End'], inplace=True)
df_MP_2.tail()

,Timestamp,DE,Avg Neighbours DE/LU [€/MWh],Belgium [€/MWh],Denmark 1 [€/MWh],Denmark 2 [€/MWh],France [€/MWh],Netherlands [€/MWh],Norway 2 [€/MWh],Austria [€/MWh],Poland [€/MWh],Sweden 4 [€/MWh],Swiss [€/MWh],Czech Rep [€/MWh],DE/AT/LU [€/MWh],Italy (North) [€/MWh],Slowenia [€/MWh],Hungary [€/MWh]
43819,2023-12-31 20:00:00,9.00,33.2,20.26,39.64,39.64,17.75,39.64,62.88,19.57,46.06,39.64,23.40,16.69,-,136.07,21.49,25.05
43820,2023-12-31 21:00:00,7.95,29.6,19.65,34.89,34.89,16.43,34.89,62.60,17.20,35.01,34.89,20.65,14.47,-,130.00,19.19,23.33
43821,2023-12-31 22:00:00,6.00,22.61,9.00,29.60,29.60,8.16,13.30,62.25,8.20,41.92,29.60,9.58,7.52,-,117.23,8.71,9.82
43822,2023-12-31 23:00:00,10.68,24.2,10.68,28.67,28.67,10.68,10.68,61.77,10.68,48.27,28.67,16.78,10.68,-,108.96,10.68,10.68
43823,2024-01-01 00:00:00,2.44,19.26,3.17,26.87,26.87,3.64,3.17,59.31,9.35,35.7,26.87,9.51,7.44,-,106.12,11.02,14.95

In [45]:
df_RConP_2.dtypes

Timestamp         datetime64[ns]
Total                    float64
Residual Load            float64
Pumped Storage           float64
dtype: object

In [46]:
df_MP_2.dtypes

Timestamp                       datetime64[ns]
DE                                     float64
Avg Neighbours DE/LU [€/MWh]            object
Belgium [€/MWh]                        float64
Denmark 1 [€/MWh]                      float64
Denmark 2 [€/MWh]                      float64
France [€/MWh]                         float64
Netherlands [€/MWh]                    float64
Norway 2 [€/MWh]                       float64
Austria [€/MWh]                        float64
Poland [€/MWh]                          object
Sweden 4 [€/MWh]                       float64
Swiss [€/MWh]                          float64
Czech Rep [€/MWh]                      float64
DE/AT/LU [€/MWh]                        object
Italy (North) [€/MWh]                  float64
Slowenia [€/MWh]                       float64
Hungary [€/MWh]                         object
dtype: object

In [47]:
df_MP_2.drop(columns= ['Avg Neighbours DE/LU [€/MWh]', 'Belgium [€/MWh]', 'Denmark 1 [€/MWh]', 'Denmark 2 [€/MWh]', 'France [€/MWh]', 'Netherlands [€/MWh]', 'Norway 2 [€/MWh]', 'Austria [€/MWh]', 'Poland [€/MWh]', 'Sweden 4 [€/MWh]', 'Swiss [€/MWh]', 'Czech Rep [€/MWh]', 'DE/AT/LU [€/MWh]', 'Italy (North) [€/MWh]', 'Slowenia [€/MWh]', 'Hungary [€/MWh]'], inplace=True)

In [48]:
df_MP_2.dtypes

Timestamp    datetime64[ns]
DE                  float64
dtype: object

In [49]:
df_RConP_2.drop_duplicates(subset='Timestamp', inplace=True)
df_MP_2.drop_duplicates(subset='Timestamp', inplace=True)

In [50]:
df_RConP_2.set_index('Timestamp', drop=True, inplace=True)
df_MP_2.set_index('Timestamp', drop=True, inplace=True)

In [51]:
df_RConP_2['Renewables'] = df_RConP_2['Total'] - df_RConP_2['Residual Load'] - df_RConP_2['Pumped Storage']
df_RConP_2['year'] = df_RConP_2.index
df_RConP_2['month'] = df_RConP_2['year'].dt.month
df_RConP_2['day'] = df_RConP_2['year'].dt.day
df_RConP_2['day_of_year'] = df_RConP_2['year'].dt.dayofyear
df_RConP_2['year'] = df_RConP_2['year'].dt.year

In [52]:
MP_DE =df_MP_2.resample('15 Min').interpolate(method='linear') # alternative use would be method='time'

In [53]:
df_RConP_2.to_pickle('../Data Cleansed/Since_2019_Real_consumed_energy.pkl')

In [54]:
MP_DE.to_pickle('../Data Cleansed/Since_2019_Market_price.pkl')

In [55]:
MP_RCON = MP_DE.join(df_RConP_2, how='inner', validate='one_to_one') # outer join on index aka Timestamp

In [56]:
MP_RCON.head()

,DE,Total,Residual Load,Pumped Storage,Renewables,year,month,day,day_of_year
Timestamp,,,,,,,,,
2019-01-01 01:00:00,28.3200,10680.25,4617.50,304.50,5758.25,2019,1,1,1
2019-01-01 01:15:00,23.7575,10599.00,4485.00,249.75,5864.25,2019,1,1,1
2019-01-01 01:30:00,19.1950,10476.25,4233.25,276.00,5967.00,2019,1,1,1
2019-01-01 01:45:00,14.6325,10357.75,3960.75,463.25,5933.75,2019,1,1,1
2019-01-01 02:00:00,10.0700,10221.00,3741.25,544.50,5935.25,2019,1,1,1

In [57]:
MP_RCON.to_pickle('../Data Cleansed/Since_2019_Market_price_Real_consumed_energy.pkl')

In [58]:
MP_RCON.dtypes

DE                float64
Total             float64
Residual Load     float64
Pumped Storage    float64
Renewables        float64
year                int32
month               int32
day                 int32
day_of_year         int32
dtype: object

In [59]:
MP_RCON.isna().any()

DE                False
Total             False
Residual Load     False
Pumped Storage    False
Renewables        False
year              False
month             False
day               False
day_of_year       False
dtype: bool